body {
    /*background-color: lightblue; */
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
    /*background-color: aquamarine;  couleur du fond pour la balise nav */
}

ul {

    list-style-type: none; /* Supprime les points montrant chaque élément de la liste. */
    margin: 0; /* Supprime les marges par défaut de la liste. */
    padding: 0; /* Supprime l'espace vide d'un élément de la list ( l'espace avant l'élément). */
    overflow: hidden; /* Cache tout contenu dépassant de la liste. */
}



nav a {
}
nav a:hover {
    background-color: #ddd; /* Définit la couleur de fond lorsqu'un lien est survolé. */
    color: black; /* Change la couleur du texte lorsqu'un lien est survolé. */
    opacity: 1;
    transition: opacity 1s ease 0s;
}
h1, p{
    text-align: center;
}
/* .teste{
    display: flex;
    align-items: center;
    justify-content: center;

} */